header {
  background-color: #f9db79;
  top: 0;
  width: 100vw;
  position: fixed;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu a {
  padding: 0px 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.menu img {
  width: 50px;
}

@media (max-width: 425px) {
  .menu {
    flex-direction: column;
    gap: 10px;
  }
  .menu nav {
    padding-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #000;
  }
}
