.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../../../public/assets/banner-home.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
  height: 100vh;
  background-color: #f9db79;
  text-align: center;
}
